.max-w-1140 {
    max-width: 1140px !important;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: #fff;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.z-5 {
    z-index: 5;
}

.max-w-100 {
    max-width: 100px;
}

.h-810 {
    height: 800px;
}

.nav-tags {
    transform: rotate(-90deg);
    white-space: nowrap;
}

.gap-32 {
    gap: 103px;
}

.lh-160 {
    line-height: 160%;
}

.lh-100 {
    line-height: 100%;
}

.nav-tags-box {
    max-height: 593px;
    height: 100%;
    overflow: auto;
    margin-top: 22px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.nav-links:hover {
    opacity: 100% !important;
}

/* -------section-2------- */
.header-box {
    background-color: #0D161B;
    max-height: 650px;
    height: 100%;
    max-width: 1140px !important;
    width: 100%;
}

.max-w-497 {
    max-width: 497px;
}

.large-circle {
    top: 116px;
}

.py-180 {
    padding-top: 180px;
    padding-bottom: 180px;
}

.max-w-477 {
    max-width: 477px;
}

.max-w-461 {
    max-width: 461px;
}

.pt-32 {
    padding-top: 32px;
}

/* -------section-3------- */
.bg-image {
    background-image: url(../image/png/sec-3-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 638px;
}

.max-w-632 {
    max-width: 632px;
}

/* -------section-4------- */
.pt-190 {
    padding-top: 190px;
}

.pb-124 {
    padding-bottom: 124px;
}

.max-w-398 {
    max-width: 398px;
}

.gap-80 {
    gap: 80px;
}

.pt-60 {
    padding-top: 60px;
}

@media (max-width:991.98px) {

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: black !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 3;
        align-items: center;
    }

    .show-navbar {
        right: 0 !important;
    }

    .nav-tags {
        transform: rotate(0);
        white-space: nowrap;
    }

    .gap-32 {
        gap: 32px;
    }
}